<section *ngIf="flgclo" class="tableBox">
    <div class="headerTOp p-3">
        <h4 class="p-0 m-0">Data Query Table</h4>
        <div class="ml-auto d-flex align-items-center">
            <div class="succesMsg">
                <div class="result-box" *ngIf="resultMessage">
                    <div *ngIf="QS" class="btn btn-sm btn-outline-success">
                        {{ resultMessage }}
                    </div>
                    <div *ngIf="!QS" class="btn btn-sm btn-outline-danger">
                        {{ resultMessage }}
                    </div>
                </div>
                <div class="count-box">
                    <div class="btn btn-sm btn-outline-dark ml-2 mr-2">
                        Total row count: <span style="font-weight: bold">{{ datalength }}</span>
                    </div>
                </div>
            </div>
            <div class="download-buttons d-flex align-items-center  ml-auto">
                <a href="javascript:void(0)" (click)="downloadData('excel')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green"
                        class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">
                        <path
                            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64" />
                    </svg>
                </a>
                <a href="javascript:void(0)" (click)="downloadData('pdf')"><svg xmlns="http://www.w3.org/2000/svg"
                        width="30" height="30" fill="red" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                        <path
                            d="M5.523 12.424q.21-.124.459-.238a8 8 0 0 1-.45.606c-.28.337-.498.516-.635.572l-.035.012a.3.3 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548m2.455-1.647q-.178.037-.356.078a21 21 0 0 0 .5-1.05 12 12 0 0 0 .51.858q-.326.048-.654.114m2.525.939a4 4 0 0 1-.435-.41q.344.007.612.054c.317.057.466.147.518.209a.1.1 0 0 1 .026.064.44.44 0 0 1-.06.2.3.3 0 0 1-.094.124.1.1 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256M8.278 6.97c-.04.244-.108.524-.2.829a5 5 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.5.5 0 0 1 .145-.04c.013.03.028.092.032.198q.008.183-.038.465z" />
                        <path fill-rule="evenodd"
                            d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.7 11.7 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.86.86 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.84.84 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.8 5.8 0 0 0-1.335-.05 11 11 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.24 1.24 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a20 20 0 0 1-1.062 2.227 7.7 7.7 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103" />
                    </svg>
                </a>
            </div>
            <a href="javascript:void(0)" (click)="closeTable()">
                <i class="closeBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </i>
            </a>
        </div>
    </div>


    <div class="table-responsive mt-2" id="tableDataWrap">
        <div class="grid-container h-100">
            <cdk-virtual-scroll-viewport itemSize="50" class="w-100 tableWrap h-100"
                style="transform: unset !important;">
                <table class="mat-elevation-z8 table table-bordered">
                    <thead>
                        <tr>
                            <th *ngFor="let column of displayedColumns">{{ column }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let row of dataSource">
                            <td *ngFor="let column of displayedColumns">{{ row[column] }}</td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</section>

<section class="mainBaner">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <img src="assets/images/bannerimgEmployee.svg" class="w-100" alt="imgDost">

            </div>
            <div class="col-lg-7 col-md-7">
                <h2 class="text-white mb-2">Access The Table data<span class="yelowClr d-block"> without DBA</span></h2>
                <p class="text-white">Just fill the form and search by clicking Execute Button</p>
                <form [formGroup]="dynamicquery">
                    <div class="container p-0">
                        <div class="row register-container">
                            <div class="col-md-12 col-lg-6">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label class="labelBlock">Select Technology</mat-label>
                                    <mat-select class="select-form" #dropdownValue>
                                        <mat-option [value]="1">Postgres</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label class="labelBlock">Select a Database</mat-label>
                                    <mat-select class="select-form" formControlName="Database"
                                        (selectionChange)="getSchemas()">
                                        <mat-option *ngFor="let option of dbDTO" [value]="option.datname">
                                            {{ option.datname }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="dynamicquery.get('Database')?.hasError('required')">
                                        Choose Database Name
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field *ngIf="dynamicquery.value.Database" appearance="fill">
                            <mat-label>QueryArea</mat-label>
                            <textarea (keydown.enter)="$event.stopPropagation()" matInput formControlName="query"
                                (input)="suggestNames($event)" [matAutocomplete]="auto" rows="10"></textarea>
                            <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="selectSchema($event.option.value)">
                                <mat-option *ngFor="let schema of filteredSchemas" [value]="schema.schema_name">
                                    {{ schema.schema_name }}
                                </mat-option>
                                <mat-option *ngFor="let schema of filteredTable" [value]="schema.table_name">
                                    {{ schema.table_name }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="dynamicquery.get('query')?.hasError('required')">
                                Write DataBase Query
                            </mat-error>
                        </mat-form-field>

                        <div class="buttons">
                            <a href="javascript:void(0)" mat-raised-button color="warn" class="mr-2"
                                (click)="reset(dropdownValue)">Reset</a>
                            <button [disabled]="submit" mat-raised-button color="warning"
                                (click)="OnSubmit()">Execute</button>

                        </div>
                        <div *ngIf="submit" class="spinner-container">
                            <mat-spinner class="mat-spinner"></mat-spinner>
                        </div>

                        <div class="result-box" *ngIf="resultMessage">
                            <div *ngIf="QS" class="text-success">
                                <b>{{ resultMessage }}</b>
                            </div>
                            <div *ngIf="!QS" class="text-danger">
                                <b>{{ resultMessage }}</b>
                            </div>

                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</section>