.container {
    max-width: 1300px;

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
        /* Heading color */
    }

    .mat-select-value {
        color: black;
    }

    mat-form-field {
        width: 100%;
        margin-bottom: 0;
    }

    .buttons {
        display: flex;
        /* justify-content: space-between; */
        margin-top: 10px;

        button {
            color: #fff;
            /* Button text color */

            &.mat-primary {
                background-color: #00796b;
                /* Primary button background color */
            }

            &.mat-warn {
                background-color: #e53935;
                /* Warn button background color */
            }
        }
    }

    .result-box {
        margin-top: 20px;
        padding: 15px;
        background-color: #e0f7fa;
        border: 1px solid #00796b;
        border-radius: 4px;
        position: relative;
        padding-right: 100px;
        /* Result message color */
    }

    .grid-container {
        margin-top: 20px;
        overflow: auto;

        table {
            width: 100%;
            border-collapse: collapse;

            th {
                background-color: #00796b;
                /* Header background color */
                color: #fff;
                /* Header text color */
                padding: 10px;
            }

            td {
                padding: 10px;
                border: 1px solid #ccc;
                /* Cell border color */
                color: #333;
                /* Cell text color */
            }

            tr {
                background-color: #f2f2f2;
                /* Alternate row background color */
            }
        }
    }


    .mat-autocomplete-panel {
        max-height: 200px;
        overflow-y: auto;
    }
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #16ff0a;
}



.menu {
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
}



.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.mat-progress-spinner circle {
    stroke: #00796b;
}

.mat-spinner {
    color: #333;


}
.btn{
    font-family: semiBoldFont;
}
/* vijay css */

/* header css */

.logos img {
    max-height: 70px;
    margin-right: 15px;
}

.logoBox.d-flex span {
    color: #fff;
}

.logoBox.d-flex span small {
    line-height: 1;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgb(89, 59, 255);
    color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

.menu ul {
    display: flex;
    flex-direction: column;
    /* Ensure items are aligned horizontally */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul svg {
    margin-right: 10px;
}

.menu ul li {
    padding: 8px 16px;
    cursor: pointer;
    color: #333;
    font-family: semiBoldFont;
}

.menu ul li:hover {
    background-color: #f1f1f1;
}

.menuBtn>a,
.closeBtn {
    position: relative;
    margin-left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #fdc11f;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(45 7 252 / 25%);
    cursor: pointer;
}

.txtBoxs h5,
.txtBoxs h6 {
    margin: 0;
    padding: 0;
    font-family: semiBoldFont;
    font-size: 1.2rem !important;
    line-height: 1;
}

.txtBoxs h6 {
    font-size: 0.9rem !important;
    opacity: 0.8;
    font-family: regularFont;
    line-height: 1;
    ;
}

.rightMenu {
    display: flex;
    align-items: center;
}

span.iconss {
    margin-right: 10px;
}

img.w-100[alt="imgDost"] {
    max-width: 700px;
    max-height: 60vh;
    object-fit: contain;
}

.mainBaner {
    height: calc(100vh - 91px);
    background: #593bff;
    color: #fff;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.mainBaner>.container>.row {
    align-items: center;
    display: flex;
}


th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    background-color: #fff;
    color: #5b5a5a;
    border-bottom: 1px solid #979797;
    border-right: 1px solid #979797;
    font-size: 13px;
    font-family: semiBoldFont;
    padding: 1px 5px;
}



th.mat-header-cell,
thead {
    text-align: left;
    background: #ffe191 !important;
    top: 0;
    z-index: 999;
}

.tableBox .table-responsive.mt-2 {
    height: calc(100vh - 90px);
    overflow: auto;
    margin-bottom: 30px;
}

section.tableBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
}

.tableWrap {
    height: 100%;
    /* Ensure the table takes the full height of the viewport */
    overflow-y: auto;
}

.sticky-header {
    position: sticky;
    top: 0;
    background: white;
    /* Ensure the header has a background color */
    z-index: 1;
    /* Ensure the header is above other content */
}


td{
    max-width: 220px;
    word-break: break-all;
    min-width: 60px;
}

.headerTOp{
    box-shadow: 0 0 5px #ccc;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.headerTOp h4{
    font-size: 22px;
}
.succesMsg{
    display: flex;
    margin: 0 10px;
}

@media (max-width: 580px) {
    .logoBox span {
        display: none;
    }

    .logos img {
        max-height: 50px;
        margin-right: 5px;
    }
    .succesMsg{
        position: fixed;
        bottom: 0;
        left: -10px;
        overflow: auto;
        display: flex;
        padding: 5px 0;
        width: 100%;
        z-index: 99;
        background-color: #fefefe;
        border-top: 1px solid #d1cdcd;
        
    }
    .succesMsg  .btn{
        margin: 0 3px !important;
        white-space: nowrap;
    }
    .mainBaner{
        height: calc(100vh - 70px);
    }
    
    .tableBox .table-responsive.mt-2 {
        height: calc(100vh - 110px);
    }
    .headerTOp h4 {
        font-size: 15px;
    }
    .download-buttons svg.bi {
        max-height: 22px;
        max-width: 22px;
    }
    .headerTOp .closeBtn , .menuBtn a {
        margin-left: 10px;
        
    }
}