<div class="register-container">
  <h2>Register User</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="first_name">First Name</label>
      <input id="first_name" formControlName="first_name" type="text" class="form-control" />
      <div
        *ngIf="registerForm.controls.first_name.invalid && (registerForm.controls.first_name.dirty || registerForm.controls.first_name.touched)"
        class="text-danger">
        First Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input id="last_name" formControlName="last_name" type="text" class="form-control" />
      <div
        *ngIf="registerForm.controls.last_name.invalid && (registerForm.controls.last_name.dirty || registerForm.controls.last_name.touched)"
        class="text-danger">
        Last Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="mobile_number">Mobile Number</label>
      <input id="mobile_number" formControlName="mobile_number" type="text" class="form-control" />
      <div
        *ngIf="registerForm.controls.mobile_number.invalid && (registerForm.controls.mobile_number.dirty || registerForm.controls.mobile_number.touched)"
        class="text-danger">
        Enter a valid mobile number.
      </div>
    </div>
    <div class="form-group">
      <label for="contact_email">Contact Email</label>
      <input id="contact_email" formControlName="contact_email" type="email" class="form-control" />
      <div
        *ngIf="registerForm.controls.contact_email.invalid && (registerForm.controls.contact_email.dirty || registerForm.controls.contact_email.touched)"
        class="text-danger">
        Enter a valid email.
      </div>
    </div>
    <div class="form-group">
      <label for="user_name">Username</label>
      <input id="user_name" formControlName="user_name" type="text" class="form-control" />
      <div
        *ngIf="registerForm.controls.user_name.invalid && (registerForm.controls.user_name.dirty || registerForm.controls.user_name.touched)"
        class="text-danger">
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" class="form-control" />
      <div
        *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)"
        class="text-danger">
        Password must be at least 6 characters.
      </div>
    </div>
    <div class="form-group">
      <label for="roll">Designation</label>
      <select id="roll" formControlName="designation" type="text" class="form-control">
        <option selected disabled hidden value=''>Select Designation</option>
        <option *ngFor="let dpt of designationDTO" value="{{dpt.id}}">{{dpt.designation}}</option>
      </select>
      <div
        *ngIf="registerForm.controls.designation.invalid && (registerForm.controls.designation.dirty || registerForm.controls.designation.touched)"
        class="text-danger">
        Designation is required.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
  </form>
</div>